.about-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  position: relative;
  padding: 10% 15% 5% 15%;
  overflow: hidden;
  z-index: -10;

  .massive {
    width: 70%;
    height: 70%;
    position: absolute;
    font-family: $h1-font;
    font-size: 25vw;
    color: #CDDC39;
    opacity: 0.6;
    bottom: -20%;
    left: 5%;
    z-index: -5;
  }

  .text p {
    width: 65%;
    margin: 4% auto;
    font-family: $p-font;
    font-size: 2vw;
    line-height: 3vw;
    color: #263238;
    z-index: 3;
  }
}

@media(min-width: 0px) and (max-width: $tablet-breakpoint) {
  .about-container {
    padding-top: 150px;

    .text p {
      width: 80%;
      font-size: 5vw;
      line-height: 6.5vw
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .about-container {

    .massive {
      bottom: -5%;
    }

    .text p {
      width: 65%;
      margin: 100px auto;
      font-family: $p-font;
      font-size: 2.5vw;
      line-height: 5vw;
      color: #263238;
    }
  }
}
