#categories-container {
  box-sizing: border-box;
  position: relative;
  margin: 10% 15% 5% 15%;

  .wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 0px;

    .category {
      width: calc(30% - 10px);
      margin: 2px;
      text-decoration: none;
    }

  }

}