#index-container {
  box-sizing: border-box;
  position: relative;
  padding: 10% 15% 5% 15%;

  .post {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 10%;

    a.medium.post_wrapper {
      width: calc(30% - 10px);
      margin: 10px;
      text-decoration: none;
    }

    .post {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;
      -webkit-filter: grayscale(100%);
      box-shadow: 2px 2px 3px #888888;
    }

    .post:hover {
      -webkit-filter: none;
    }

    .titles {
      padding: 15px;
    }

    .background {
      background-color: #fff;
      transform: translateY(0%);
    }

    h2 {
      font-family: 'Playfair Display', serif;
      border-bottom: solid 1px #263238;
      font-size: 1em;
      line-height: 1em;
      color: #263238;
    }

    h2:hover {
      color: #CDDC39;
    }

    h3, p {
      font-family: 'News Cycle', sans-serif;
      font-size: 0.5em;
      line-height: 1.6em;
      color: #263238;
    }
  }
}

@media(max-width: $tablet-breakpoint) {

  #index-container .posts a.medium.post_wrapper {
    width: 100%;
  }

  .posts {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}
