@media (max-width: $tablet-breakpoint) {
  .home {
    flex-direction: column;

    .latest {
      position: relative;
      padding-top: 25%;

      .image {
        display: none;
      }

      .titles {
        position: relative;
        height: 40vh;
        line-height: 0.5em;
        background-color: $titles-bg-color;
        padding: 2.5em;
        box-shadow: 2px 2px 3px $box-shadow-color;
      }

      h2 {
        padding-bottom: 5px;
      }

      a.read {
        position: absolute;
        bottom: -7%;
        right: 10%;
        text-decoration: none;
        color: #fff;
        padding: 20px;
        border-radius: 3%;
        font-family: $h2-font;
        background-color: $a-bg-color;
        box-shadow: 2px 2px 3px $titles-bg-color;
      }

      a.read:hover {
        background-color: $read-link-hover-color;
        color: #263238;
      }

      p {
        color: $p-color;
        font-family: $h2-font;
        font-size: 1em;
        line-height: 1.5em;
      }
    }

    aside {
      a {
        display: none;
      }

      h2 {
        border-bottom: none;
      }
    }
  }
}


@media (min-width: $desktop-breakpoint) {

  .titles h2 {
    padding-bottom: 5px;
  }

  .sidebar {
    width: 30%;
    margin: 150px 0 50px 0;
    border-left: solid 1px #E0E0E0;

    aside {
      padding: 15%;
    }

    aside a {
      width: 100%;
      text-decoration: none;
      display: block;
      font-family: 'Playfair Display', serif;
      background-color: #263238;
      margin: 15px;
      padding: 5px;
      text-align: center;
      box-shadow: 2px 2px 3px #888888;
    }

    aside h2 {
      font-size: 1.5em;
      color: #fff;
      border-bottom: none;
      padding-top: 0px;
    }

    aside h2:hover {
      color: $aside-h2-hover;
    }
  }

  .latest {
    width: 45%;
    height: 400px;
    margin-top: 150px;
    margin-right: 10%;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
      transform: rotate(-5deg);
    }

    .titles {
      transform: translateX(-18%) translateY(30%);
      line-height: 0.5em;
      color: #fff;
      background-color: #263238;
      padding: 1.5em;
      box-shadow: 2px 2px 3px #212121;
    }

    a.read {
      position: absolute;
      bottom: -8%;
      right: 5%;
      text-decoration: none;
      color: #fff;
      padding: 20px;
      border-radius: 3%;
      font-family: 'Playfair Display', serif;
      background-color: $a-bg-color;
      box-shadow: 1px 1px 1px $titles-bg-color;
    }

    a.read:hover {
      background-color: $read-link-hover-color;
      color: #263238;
    }
  }
}
