.sidebar {
  visibility: hidden;
}

@media (max-width: $tablet-breakpoint) {
  .home {
    position: absolute;
    top: 100px;
    display: block;
    width: 100%;

    .latest {
      width: 100%;
      display: block;
    }

    .titles {
      padding: 50px;
    }
  }
}


@media (min-width: $desktop-breakpoint) {
  .home {
    position: absolute;
    top: 100px;
    display: flex;
    width: 100%;
    height: 100vh;

    .latest {
      width: 70%;
      display: block;

      .titles {
        padding: 55px;
        margin: 0 30px 30px 30px;

        h3 {
          color: #9068BE;
        }
      }
    }

    .sidebar {
      visibility: visible;
      width: 30%;
      display: flex;
      padding-top: 100px;
      justify-content: center;
      align-items: baseline;
      right: 0;

      .post-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        text-decoration: none;
        padding: 25px;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        margin-bottom: 10px;

        &:hover {
          background: #BEF1ED;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
      }

      h3 {
        color: #9A9FB6;
      }

      h3.previous {
        font-size: 1.7rem;
        border-bottom: solid 1px #9068BE;
      }

      h4 {
        padding-left: 10px
      }
    }
  }
}
