.posts {
  h3 {
    font-family: $h2-font;
    border-bottom: solid 1px #9068BE;
    font-size: 2.5em;
    line-height: 2em;
    color: #9A9FB6;
  }

  h4 {
    font-family: $h2-font;
    line-height: 1.5em;
  }
}
