#container {
  box-sizing: border-box;
  position: relative;
  padding: 100px 15% 5% 15%;

  .post_info {
    text-align: right;
    color: #212121;
  }

  .post_titles {
    padding: 40px;

    h2 {
      font-family: $h2-font;
      font-size: 3em;
      line-height: 1.5em;
      margin-top: 0px;
      padding-top: 15px;
      margin-bottom: 0.3em;
      text-align: right;
    }

    p.category_name {
      text-align: right;
    }
  }

  .content {
    font-size: 1.2em;
    color: #3A4457;
    padding: 8% 10%;
    word-wrap: break-word;

    h2, h3, h4, h5, h6 {
      padding-top: 30px;
      border-bottom: none;
      color: #263238;
    }

    img {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }

    p, li {
      font-family: $p-font;
      line-height: 1.8em;
    }

    .language-ruby.hljs {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    p code {
      background-color: #B0BEC5;
      padding: 5px;
      border-radius: 3px;
    }
  }
}

.suggested_posts {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;

  .suggested_post_container {
    display: flex;
    width: 33.3%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 25px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    h3 {
      border-bottom: solid 1px #9068BE;
    }

    &:hover {
      background: #BEF1ED;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  .post {
    height: 350px;
  }

  .titles {
    padding: 20px;
    background-color: rgba(250,250,250,0.7);
    margin: 10px;

    // Override variables

    h2 {
      font-family: $h2-font;
      color: #263238;
    }

    h3 {
      font-family: $h3-font;
      color: #455A64;
    }

    p {
      font-family: $p-font;
      color: #263238;
    }
  }
}

@media(max-width: $tablet-breakpoint) {

  #container {
    padding: 100px 5% 2% 5%;

    .post_titles h2 {
      font-size: 1.5em;
    }

    .content {
      max-width: 90%;
      padding: 8% 8%;
      word-wrap: break-word;

      p, li {
        font-size: 1em;
      }
    }
  }

}

@media(max-width: $mobile-breakpoint) {

  .suggested_posts {
    display: none;
  }
}
