// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 769px;
$mobile-nav-break: 768px;
$desktop-nav-break: 769px;

// Colours
$h2-color: #fff;
$h3-color: #CDDC39;
$p-color: #fff;
$content-color: #424242;
$titles-bg-color: #263238;
$box-shadow-color: #212121;
$line-color: #263238;
$a-bg-color: #90A4AE;
$content-bg-color: #212121;
$nav-text-color: #BDBDBD;
$a-hover-color: #CDDC39;

// Fonts

$h1-font: 'Playfair Display', serif;
$h2-font: 'Playfair Display', serif;
$nav-font: 'Oswald', sans-serif;
$h3-font: 'Cutive Mono', monospace;
$p-font: 'Cutive Mono', monospace;
$a-font: 'Cutive Mono', monospace;

// Sizing / Padding
