// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 769px;

// Nav Breakpoints
$mobile-nav-break: 768px;
$desktop-nav-break: 769px;

// Colours
$h2-color: #CDDC39;
$h2-user-color: #80DEEA;
$h3-color: #CDDC39;
$p-color: #fff;
$content-color: #424242;
$content-bg-color: #F5F5F5;
$titles-bg-color: #263238;
$box-shadow-color: #212121;
$line-color: #263238;
$a-bg-color: #90A4AE;
$content-bg-color: #212121;
$nav-text-color: #BDBDBD;
$a-hover-color: #80DEEA;
$nav-desktop-bg-color: #212121;
$nav-link-hover-color: #CDDC39;
$read-link-hover-color: #D4E157;
$aside-h2-hover: #D4E157;

// Fonts
// $h1-font: 'Poppins', sans-serif;
// $h2-font: 'Poppins', sans-serif;
$h1-font: 'Playfair Display', serif;
$h2-font: 'Playfair Display', serif;
$nav-font: 'Domine', serif;
// $h3-font: 'Taviraj', serif;
// $p-font: 'Taviraj', serif;
// $a-font: 'Taviraj', serif;
$h3-font: 'Roboto Slab', serif;
$p-font: 'Roboto Slab', serif;
$a-font: 'Roboto Slab', serif;

// Sizing / Padding
