// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 769px;
$mobile-nav-break: 768px;
$desktop-nav-break: 769px;

// Colours
$h2-color: #fff;
$h2-user-color: #80DEEA;
$h3-color: #80DEEA;
$p-color: #fff;
$content-color: #424242;
$titles-bg-color: #263238;
$box-shadow-color: #212121;
$line-color: #263238;
$a-bg-color: #90A4AE;
$content-bg-color: #212121;
$nav-text-color: #BDBDBD;
$a-hover-color: #80DEEA;
$nav-desktop-bg-color: #212121;
$nav-link-hover-color: #80DEEA;

// Fonts

$h1-font: 'Playfair Display', serif;
$h2-font: 'Playfair Display', serif;
$nav-font: 'Oswald', sans-serif;
$h3-font: 'Dosis', sans-serif;
$p-font: 'Dosis', sans-serif;
$a-font: 'Dosis', sans-serif;

// Sizing / Padding
