* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #9068BE;
}

a.category, #container p a.category_name {
  font-family: $h2-font;
  font-size: 0.8em;
  text-decoration: none;

  &:hover {
    color: #03243A;
  }
}

h2 {
  font-family: $h2-font;
  border-bottom: solid 1px #9068BE;
  font-size: 2.5em;
  line-height: 2em;
  color: #9A9FB6;
}

h3 {
  font-family: $h2-font;
  line-height: 1.5em;
}

h4 a {
  color: #9068BE;
}

h2 a:hover, h3 a:hover, h4 a:hover {
  color: #03243A;
}

p {
  font-family: $h2-font;
  font-size: 1.3em;
  line-height: 2em;
  color: #3A4457;
  word-break: break-word;
}
