- title('Home')
- content_for(:meta) do
  %meta{property: 'og:url', content: request.original_url}
  %meta{property: 'og:type', content: 'website'}
  %meta{property: 'og:title', content: "Marian's Blog"}
  %meta{property: 'og:description', content: "Writing about Ruby, Rails, and web development."}
  %meta{property: 'og:image', content: @latest_post.image.url(:medium)}

.home
  .latest
    .titles
      %h2= @latest_post.title
      %h3
        -# %a{href: category_url(@latest_post.category), class: 'category'}
        In:
        = @latest_post.category.name
      .content
        ~ @latest_post.rendered_content
      -# = link_to 'READ POST', post_url(@latest_post), class: 'read'

  .sidebar
    %aside
      %h3.previous Previous Posts
      - @previous_posts.each do |post|
        .post-container
          %h3
            = link_to post.title, post_url(post), class: 'read'
            ⪼
          %h4
            = link_to post.category.name, category_url(post.category), class: 'category'
