- title('About')

.about-container
  .massive Hello!
  .text
    %p
      I'm Marian. I'm in my last year of design and development.
      One day I just decided to start writing articles about
      things in the way I would have liked somebody to explain them to me. That is how
      this blog was born. Hope this is useful to somebody! :)
