#container
  .post_titles
    %h2= @post.title
    %p
      In:
      = @post.category.name

  .content
    ~ @post.rendered_content

.suggested_posts
  - @suggested_posts.each do |post|
    = render partial: 'posts/medium_unit', locals: {post: post}
