nav {
  position: relative;
  width: 100%;
  border-bottom: solid 0.5px #E0E0E0;

  ul {
    display: flex;
  }

  ul li {
    list-style: none;
    padding: 10px;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.5em;
    color: #616161;
  }

  ul li a {
    text-decoration: none;
    color: #BDBDBD;
  }
}
