@media (max-width: $mobile-nav-break) {
  nav.mobile {
    background-color: $content-bg-color;
    z-index: 10;

    ul {
      display: none;
      padding-top: 70px;
      padding-bottom: 35px;
      margin: 0px;
      list-style: none;

      li {
        padding: 10px;
      }

      li:hover {
        background-color: #fff;
      }

      li a {
        font-family: $nav-font;
        font-size: 1em;
        color: $nav-text-color;
        text-decoration: none;
      }

      li a:hover {
        color: $a-hover-color;
      }
    }

    .menu-trigger {
      cursor: pointer;

      .menu-text hr {
        border-color: #B0BEC5;
        transform: rotate(-15deg);
      }
    }

  }

  nav.desktop {
    display: none;
  }
}

@media (min-width: $desktop-nav-break) {
  nav.desktop {
    position: fixed;
    height: 100px;
    z-index: 3;
    width: 100%;
    background-color: $nav-desktop-bg-color;

    ul {
      display: flex;
    }

    ul li {
      list-style: none;
      padding: 10px;
      font-family: $nav-font;
      font-size: 1.5em;
      color: #616161;
    }

    ul li a {
      text-decoration: none;
      color: #BDBDBD;
    }

    ul li a:hover {
      color: $nav-link-hover-color;
    }

    .right {
      margin-left: auto;
      margin-right: 30px;
    }
  }

  nav.mobile {
    display: none;
  }
}
