// Styles for: posts index, categories index, and other posts.

#index-container {
  box-sizing: border-box;
  position: relative;
  padding: 10% 15% 5% 15%;

  .posts, .categories {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-top: 10%;

    a.medium.post_wrapper, a.medium.category_wrapper {
      width: calc(30% - 10px);
      margin: 10px;
      text-decoration: none;
    }

    .post, .category {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;
      -webkit-filter: grayscale(100%);
      box-shadow: 2px 2px 3px #888888;
      position: relative;
    }

    .post:hover, .category:hover {
      -webkit-filter: none;
    }

    .background {
      width: 100%;
      background-color: rgba(33,33,33,0.8);
      position: absolute;
      bottom: 0px;
    }

    .titles {
      padding: 15px;
      z-index: 25;

      h2 {
        font-size: 1em;
        padding-bottom: 5px;
        border-bottom: solid 1px #fff;
      }

      p {
        color: #fff;
      }
    }
  }
}

@media(max-width: $tablet-breakpoint) {

  #index-container .posts a.medium.post_wrapper,
  #index-container .categories a.medium.category_wrapper {
    width: 100%;
  }
}
