- title('Categories')

#index-container
  .categories
    - @categories.each do |category|
      %a.category_wrapper{class: :medium, href: category_url(category)}
        .category{style: "background-image: url('#{category.image.url(:medium)}')"}
          .background
            .titles
              %h2= category.name
              %h3= pluralize(category.published_count, 'Post')
